.home-banner {
  min-height: $spacing-unit * 2 * 1.865;
  padding-top: $spacing-unit;
  margin-bottom: $spacing-unit * 1.865 / 2;
  border-radius: 8px;
  background-color: black;
  
  // Positioning context for the mobile navigation icon
  //position: relative;

  .banner-col-wrapper {
      color: $grey-color;
      //margin-left: -$spacing-unit / 2;
      @extend %clearfix;
  }
  
  .banner-col {
      float: left;
      margin-bottom: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
  }
  
  .banner-col-1 {
      width: -webkit-calc(15% - (#{$spacing-unit} / 2));
      width:         calc(15% - (#{$spacing-unit} / 2));
      padding-left: 20px;
      padding-right: 20px;
  }

  .banner-col-2 {
      width: -webkit-calc(75% - (#{$spacing-unit} / 2));
      width:         calc(75% - (#{$spacing-unit} / 2));
      padding-right: 20px;
  }

  h1 {
    color: white;
    text-shadow: rgba(black, 1.0) -1px -1px 0, rgba(black, 1.0) 1px 1px 0;
  }

  p {
    color: white;
    text-shadow: rgba(black, 1.0) -1px -1px 0, rgba(black, 1.0) 1px 1px 0;
  }

  svg {
    position: absolute; top: 1em; right: 10%;
  }
}

.home-banner-title {
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  color: white;
}